/Logs/
/Library/
/Temp/
/UserSettings/
Library/
Temp/
Logs/
UserSettings/

Assignment-1/.vscode/settings.json
Assignment-1/Assembly-CSharp.csproj
Assignment-1/Assignment-1.sln
Assignment-1/.vsconfig
Assignment-2/.vscode/settings.json
Assignment-2/Assignment-2.sln
Assignment-2/Assembly-CSharp.csproj
Assignment-2/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
Assignment-2/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Assignment-2/Assembly-CSharp.csproj
